*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

:root{
    --bg-mode: #ffffff;
    --color-mode: #000000;
    --nav-light-mode: #3f51b5;

}

body{
    background-color: var(--bg-mode);
    color: var(--color-mode);
}

#ss-file-name{
    width: 300px;
    font-size: 1.5rem;
    vertical-align: sub;
}

.subquote{
    font-size: 12px;
}

.prime-logo{
    user-select: none;
    margin-left: 8px;
}

.prime-logo-icon{
    font-size: 2.5rem !important;
    margin-right: 4px !important;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
    color: #ffffff;
}

input[type="search"]:not(.browser-default):focus:not([readonly]){
    color: #000000;
    border-bottom: 1px solid #3f51b5;
}

.input-field .prefix.active{
    color: #3f51b5 !important;
}

.dropdown-content li>a, .dropdown-content li>span{
    color: var(--color-mode);
}

#more_opt_btn{
    z-index: 88;
}

#header-toolbar .card-panel{
    padding: 2px;
}

#header-toolbar .card-panel .row {
    margin-bottom: 0;
}

#header-toolbar .card-panel .row .input-field {
    margin-bottom: 0;
    margin-top: 0;
    width: 120px;
    display: inline-block;
    vertical-align: super;
    margin-right: 0.5rem;
}

#header-toolbar .card-panel .row .material-icons{
    margin-right: 0.5rem;
    user-select: none;
    cursor: pointer;
}

.toolset{
    padding: 0.7rem;
    vertical-align: sub;
}

.toolset ul li {
    text-align: center;
    padding: 0.7rem;
}

td{
    padding: 10px 5px;
    min-width: 120px;
    text-align: unset;
}

th{
    text-align: center;
    min-width: 60px;
    padding: 8px 4px;
}

.focus-cell{
    border: 1px solid #3f51b5;
}

#menubar{
    margin: 0.5rem 1rem;
}

#file-btn, #edit-btn, #view-btn, #insert-btn, #format-btn, #data-btn{
    width: 150px !important;
}

#ss-sheet-div{
    overflow-x: scroll;
}